output/
*.output
*.out
*.bak
*.swo
*.swp
*.mpl
*.js
*.dot
*.png
*.out.ts
*.ts.ast
*.java.ast
gdbfile
test/typescript/**/*.cpp
test/typescript/**/*.h
test/typescript/**/*.log
test/TypeScript/
test/msts_failed.txt
test/msts_passed.txt
test/typescript/ms_tests/*.ts
test/typescript/ms_tests/LICENSE.txt
test/typescript/unit_tests/temp.ts
test/typescript/unit_tests/perf.data
test/typescript/unit_tests/perf.data.old
