output/
*.output
*.out
*.bak
*.swo
*.swp
*.mpl
*.js
*.dot
*.png
*.out.ts
gdbfile
test/TypeScript/
test/msts_failed.txt
test/msts_passed.txt
test/typescript/ms_tests/*.ts
test/typescript/ms_tests/LICENSE.txt
